* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #050505;
  font-family: Impact, Arial Black, sans-serif;
}

.bg {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.85)),
    url("goku.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(.35);
  transform: scale(1.2);
  animation: moveBg 10s infinite alternate ease-in-out;
}

.overlay {
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle, rgba(255,120,0,.25), rgba(0,0,0,.9) 65%),
    repeating-linear-gradient(
      90deg,
      rgba(255,255,255,.04) 0px,
      rgba(255,255,255,.04) 2px,
      transparent 2px,
      transparent 7px
    );
}

.scene {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marvel-text {
  position: absolute;
  top: 10%;
  font-size: 150px;
  letter-spacing: 14px;
  color: #e50914;
  opacity: .18;
  text-shadow: 0 0 35px red;
  animation: titleIntro 2.5s ease-out forwards;
}

.goku {
  max-height: 58vh;
  max-width: 42vw;
  object-fit: contain;
  z-index: 3;
  margin-top: 80px;
  filter:
    drop-shadow(0 0 25px #ff8c00)
    drop-shadow(0 0 70px #ff0000);
  animation: gokuEnter 2.5s ease-out forwards, float 3s infinite ease-in-out 2.5s;
}

.subtitle {
  margin-top: 25px;
  color: white;
  font-size: 26px;
  letter-spacing: 7px;
  text-shadow: 0 0 20px red;
  opacity: 0;
  animation: subtitleShow 1.5s ease forwards 2s;
}

@keyframes moveBg {
  from {
    background-position: left center;
    transform: scale(1.15);
  }
  to {
    background-position: right center;
    transform: scale(1.3);
  }
}

@keyframes titleIntro {
  from {
    opacity: 0;
    transform: scale(3);
  }
  to {
    opacity: .18;
    transform: scale(1);
  }
}

@keyframes gokuEnter {
  from {
    opacity: 0;
    transform: scale(.4) translateY(180px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}

@keyframes subtitleShow {
  to {
    opacity: 1;
  }
}
